<%= form_with model: Comment, url: user_post_comments_path(@user, @post), method: :post, local: true do |f| %>
    <div class="new_comment_form">
    <div>
        <%= f.text_field :text, placholder: "Comment", class: 'comment_field' %>
    </div>
    <div>
    <%= f.submit "Send", class: 'comment_submit' %>
    </div>
    </div>
<% end %>