<h1>Welcome, <%= @user.email %>!</h1>
<p>Dear <%= @user.name %>,</p>
<p>We are excited to have you join our community. Thank you for signing up!</p>
<p>If you have any questions, feel free to reach out to us at support@topgeardirect.com.</p>
<p>Best regards,</p>
<p>The Team</p>