/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #232323;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
}

.container_item {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  margin-top: 5rem;
}

.container_outer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.45fr 2fr;
  gap: 4rem;
}

.container_image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
}

.container_link,
.container_link_post,
.container_user_post_path {
  text-decoration: none;
}

.container_link_post {
  color: rgba(72, 0, 255, 0.613);
  background-color: rgb(184, 154, 56);
  padding: 0.6rem 2rem;
  margin-top: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
}

.container_link_post:hover {
  background-color: rgba(72, 0, 255, 0.613);
  color: rgb(184, 154, 56);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
}

.container_inner {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr 1fr;
  border: 2px solid black;
  border-radius: 10px;
}

.container_name,
.container_counter {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-top: 0;
}

.container_counter {
  justify-content: flex-end;
}

.container_counter span {
  margin-right: 34.3vw;
}

.container_name {
  justify-content: flex-start;
  font-size: 3rem;
}

.container_bio {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 2px solid black;
  border-radius: 10px;
}

@media screen  and (max-width: 768px) {
  .container_outer {
    grid-template-columns: 1fr;
    grid-template-rows: 1.75fr 1fr;
    gap: 1rem;
  }

  .container_inner {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
  }

  .container_name {
    font-size: 2rem;
  }

  .container_counter {
    font-size: 0.5rem;
  }

  .container_image {
    width: 60%;
    height: 100%;
    margin: 0 auto;
  }

  .container_link_post {
    font-size: 0.5rem;
    margin: 0;
    padding: 0.2rem 0.5rem;
  }
}

.container_post p {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container_post_item {
  border: 2px solid black;
  margin-bottom: 5rem;
  border-radius: 10px;
}

.container_link_post_all {
  text-decoration: none;
  color: rgba(72, 0, 255, 0.613);
  background-color: rgb(184, 154, 56);
  padding: 0.6rem 2rem;
  margin-top: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
}

.container_link_all_posts {
  width: 100%;
  text-align: center;
}

.container_user_post_path div {
  color: black;
}
